@import "dark-theme.css";

body {
  background-color: white;
  border-top-color: #2E18E1;
}

hr {
  /* border-color: #18CBE1; */
}

.dark-mode {
  color: black;
}

/* Navbar */

.navbar {
  background-color: white;
}

.navbar-nav a:hover {
  color: grey;
}

/* Carousel controls */

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Footer */

#footer {
  border-width: 0.2rem 0 0 0;
  border-color: black;
}

/* Classes */

.solid-line {
  border-color: black;
}

.dark-mode {
  color: black;
}


/* project card */
.project-card {
  border-color: white;
  color: black;
}

.box-shadow{
  	background: #ccc;
    box-shadow: 3px 3px 8px 1px #969696;
    /* border-width: 5px; */
    /* border-style: solid;
    border-color: black; */
}
