@import "dark-theme.css";

body {
  background-color: white;
  border-top-color: #2E18E1;
}

/* Navbar */

.navbar {
  background-color: white;
}

.navbar-nav a:hover {
  color: grey;
}

/* Classes */

.solid-line {
  border-color: black;
}

.dark-mode {
  color: black;
}
