.project-card {
  background-color: grey;

  /* border-width: 0.8rem; */
  border-color: #101010;
  /* border-style: solid; */
  border-radius: 25px;

  /* margin: 0.5rem; */

  text-align: center;
  color: #101010;

  cursor: pointer;

  transition: transform .4s; /* Animation */
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a {
  text-decoration: none;
  color: #101010;
  /* margin: 0 5%; */
}

.project-title {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2rem 0;
  margin: 0;
}

.project-section {
  margin-bottom: 5rem;
}

.project-section h1 {
  padding-bottom: 2rem;
}
